main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-container {
  background-color: lightblue;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0vh 2vw;
}

.post-container {
  flex: 1;
  background-color: rgb(24, 23, 23);
  color: white;
}

.search-bar {
  height: 5vh;
  width: 20vw;
  border-radius: 2vh;
  margin-left: 1vw;

  font-size: 1.1  vw;
  padding-left: 2.6vw;

}
.nav-title {
  font-size: 2vw;
}
.input-container {
  position: relative;
}

.input-icon {
  left: 1.8vw;
  width: 1.5vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

