main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-container {
  background-color: lightblue;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.post-container {
  flex: 1;
  background-color: rgb(24, 23, 23);
  color: white;
}

.search-bar {
  height: 5vh;
  width: 20vw;
  border-radius: 2vh;
  margin-left: 1vw;

  font-size: 1.1vw;
  padding-left: 2.6vw;

}
.nav-title {
  font-size: 2vw;
  padding: 0vh 2vw;
}
.input-container {
  position: relative;
}

.input-icon {
  left: 1.8vw;
  width: 1.5vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.all-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-post-container {
  border: 2px solid grey;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  width: 60vw;
  border-radius: 1.5vw;
}

.post-time, .post-upvotes {
  font-size: 14px;
}
.post-upvotes-icon {
  width: 2vw;
}
.post-title {
  font-size: 24px;
  font-weight: 800;
}