.comment-input {
  width: 15vw;
  height: 3vh;
}
.post-upvotes-icon {
  width: 1.5vw;
  height: 3vh;
  background-image: url("https://cdn-icons-png.flaticon.com/512/126/126473.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  left: .5vw;
  top: .3vh;
  cursor: pointer;
  transition: all 0.3s ease;
}

.post-upvotes {
  display: flex;
  flex-direction: row;
}

.post-upvotes-title {
  font-size: 14px;
  margin: 10px 0px;
  font-weight: bold;
}

.post-upvotes-icon:hover {
  background-image: url('https://cdn-icons-png.flaticon.com/512/739/739231.png');
}

.comment-title {
  font-size: 14px;
  font-weight: bold;
}

.single-post-button {
  border: 1px solid black;
  background-color: rgb(106, 106, 204);
  color: white;
  width: 3vw;
  height: 4vh;
  border-radius: .5vw;

  margin-right: .5vw;
  cursor: pointer;
  transition: all .3s ease;
}

.single-post-button:hover {
  background-color: grey;
}

.post-image {
  width: 20vw;
  height: 0;
  padding-top: 15%; /* Adjust this value to achieve the desired aspect ratio */


  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}


@media (max-width: 768px) {
  .single-post-button {
    width: 12vw;
  }

  .comment-input {
    width: 58vw;
  }

  .post-upvotes-icon {
    width: 5vw;
    height: 5vh;
    background-image: url("https://cdn-icons-png.flaticon.com/512/126/126473.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
    position: relative;
    left: 1.5vw;
    top: -.2vh;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .post-image {
    width: 60vw;
    height: 0;
    padding-top: 70%; /* Adjust this value to achieve the desired aspect ratio */
    background-position: left center;
  }
}